<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <!-- ShowLog: true or false -->
    <add key="ShowLog" value="true" />
    <!-- IpAddressesDevices: 192.168.0.1,DeviceName1;192.168.0.2,DeviceName2 -->
    <add key="IpAddressesDevices" value="" />
  </appSettings>
</configuration>