<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <!-- AutoStartDevices: true or false -->
    <add key="AutoStartDevices" value="false" />
    <!-- UseKeyboardShortCuts: true or false -->
    <add key="UseKeyboardShortCuts" value="false" />
    <!-- ShowLagControl: true or false -->
    <add key="ShowLagControl" value="false" />
    <!-- ShowLog: true or false -->
    <add key="ShowLog" value="false" />
    <!-- LagControlValue: between 1 and 1000 -->
    <add key="LagControlValue" value="1000" />
    <!-- IpAddressesDevices: 192.168.0.1,DeviceName1;192.168.0.2,DeviceName2 -->
    <add key="IpAddressesDevices" value="" />
  </appSettings>
</configuration>