<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CSCore" version="1.2.1.2" targetFramework="net472" />
  <package id="Google.ProtocolBuffers" version="2.4.1.555" targetFramework="net472" />
  <package id="Microsoft.Win32.Registry" version="5.0.0" targetFramework="net472" />
  <package id="NAudio" version="2.1.0" targetFramework="net472" />
  <package id="NAudio.Asio" version="2.1.0" targetFramework="net472" />
  <package id="NAudio.Core" version="2.1.0" targetFramework="net472" />
  <package id="NAudio.Lame" version="2.0.1" targetFramework="net472" />
  <package id="NAudio.Midi" version="2.1.0" targetFramework="net472" />
  <package id="NAudio.Wasapi" version="2.1.0" targetFramework="net472" />
  <package id="NAudio.WinForms" version="2.1.0" targetFramework="net472" />
  <package id="NAudio.WinMM" version="2.1.0" targetFramework="net472" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net472" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.0.0" targetFramework="net472" />
  <package id="System.Security.AccessControl" version="6.0.0" targetFramework="net472" />
  <package id="System.Security.Principal.Windows" version="5.0.0" targetFramework="net472" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.4" targetFramework="net472" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net472" />
  <package id="Tmds.MDns" version="0.7.1" targetFramework="net472" />
</packages>